.sidebar-servers {
    position: fixed;
    width: 100px;
    height: 100%;
    overflow: scroll;
}

.sidebar-servers::-webkit-scrollbar {
    display: none;
}

.sidebar-servers-server {
    display: flex;
    justify-content: center;
    padding: 16px
}

.server-icon-behavior {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.divider-homeicon {
    position: absolute;
    width: 55px;
    height: 0px;
    top: calc(12px + 55px);
}

.server-icon-active {
    box-shadow: 0 0 0pt 5px #33333A;
}