.login-title {
    position: absolute;
    width: 352px;
    height: 111px;
    left: 1208px;
    top: 248px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 82px;
    display: flex;
    align-items: center;
    text-align: center;

    color: rgba(255, 255, 255, 0.75);
}