.application-chat {
    position: fixed;
    overflow: scroll;
    left: 445px;
    height: 100%;
    min-width: calc(100% - 445px - 345px);
    width: calc(100% - 445px - 345px);
    overflow-x: hidden;
}

.application-chat::-webkit-scrollbar {
    display: none;
}

.chatbox-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 30px;
    width: 100%;
}

.chatbox-plus {
    cursor: pointer;
    display: flex;
    align-items: center;
    background: rgba(36, 36, 49, 0.4);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    padding-left: 15px;
    margin-left: 15px;
}

.chat-box {
    background: rgba(36, 36, 49, 0.4);
    color: white;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    font-size: 30px;
    width: 100%;
    margin-right: 15px;
    padding: 25px;
}

.utilities-icon {
    position: absolute;
    display: flex;
    right: 35px;
    top: 10px;
}

.util-icon {
    cursor: pointer;
    padding: 10px;
}

.chat-container {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    width: calc(100%);
    height: 95px;
    z-index: 100;
}


.chat-title .hashtag {
    position: absolute;
    color: rgba(255, 255, 255, 0.37);
    font-size: 70px;
    left: 20px;
}

.chat-title .title {
    position: absolute;
    top: 30px;
    left: 80px;
    font-size: 28px;
    color: white;
}

.chat-title-settings {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 30px;
}

.messages-container {
    overflow: scroll;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    height: calc(100% - 120px - 95px);
    position: absolute;
    top: 95px;
}

.messages-container::-webkit-scrollbar {
    background-color: #111116;
    width: 30px;
    border: 7px solid #15151C;
    border-radius: 10px;
}

.messages-container::-webkit-scrollbar-thumb {
    border: 7px solid #15151C;
    border-bottom: none;
    border-top: none;
    background: rgba(0, 0, 0, 0.21);
    border-radius: 10px;
}

.message {
    padding: 20px;
    padding-left: 0;
    display: flex;
    position: relative;
    left: 34px;
    width: 100%;

}

.message-img {
    width: 40px;
    height: 40px;
}

.message-username {
    color: rgb(179, 179, 179);
    position: absolute;
    width: 300px;
    left: 50px;
}

.message-content {
    color: white;
    position: relative;
    left: 13px;
    top: 25px;
    width: 100%;
    font-size: 15px;
}

.image-title {
    padding-bottom: 5px;
}

.message-image {
    max-width: 450px;
    max-height: 250px;
}

.file-message-container {
    display: flex;
    width: 456px;
    height: 57px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}

.file-message-size {
    position: relative;
    bottom: -2px;
    left: 18px;
    color: rgba(255, 255, 255, 0.5);
}

.file-message-title {
    position: relative;
    left: 18px;
    right: 63.59%;
    top: 4px;
    bottom: 78.8%;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;

    color: rgba(255, 255, 255, 0.64);
}

.message-text-file {
    position: relative;
    left: 16.67%;
    right: 16.67%;
    top: 8.33%;
    bottom: 8.33%;
}

.download-file-button {
    cursor: pointer;
    position: absolute;
    right: 22px;
    display: flex;
    align-items: center;
    margin-top: calc(33px / 2);
}